/* You can add global styles to this file, and also import other style files */
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.StudyModesLayout .a1bncmms .lang-en {
    font-size:45px !important;
    text-align: center;
}

.a1bncmms .lang-en {
    font-size:45px !important;
    text-align: center;
    width: 100%;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
